In [1]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import os
import warnings
warnings.filterwarnings('ignore')
import textract
import re
import nltk
import string
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from wordcloud import WordCloud, STOPWORDS
from nltk.stem import PorterStemmer, WordNetLemmatizer

In [2]:
os.listdir('Resumes/')

['.ipynb_checkpoints',
 'Peoplesoft resumes',
 'React JS Developer',
 'SQL Developer',
 'workday']

In [3]:
file_path1 = []
category1  = []
directory1 = 'Resumes/PeopleSoft resumes/'
for i in os.listdir(directory1):
    if i.endswith('.docx'):
        os.path.join(directory1, i)
        file_path1.append((textract.process(os.path.join(directory1, i))).decode('utf-8'))
        category1.append('PeopleSoft resumes')

In [4]:
data1 = pd.DataFrame(data = file_path1 , columns = ['Raw_Details'])
data1['Category1'] = category1
data1

                                         Raw_Details           Category1
0  Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...  PeopleSoft resumes
1  Classification: Internal\n\nClassification: In...  PeopleSoft resumes
2  SIRAZUDDIN M\n\n\tBangalore, INDIA\t\n\n\n\n\n...  PeopleSoft resumes
3  PeopleSoft Admin\n\nVARKALA VIKAS\n\n\n\nCaree...  PeopleSoft resumes
4  PeopleSoft Administration\n\n \n\nVivekanand S...  PeopleSoft resumes
5  Hari Narayana \t\t              \n\n\t\n\n\n\n...  PeopleSoft resumes
6  Murali\t\t       \n\n\t\n\n\n\n\n\n\n\n\n\n\n\...  PeopleSoft resumes
7  Priyabrata Hota\n\n\n\n\n\nCAREER OBJECTIVE\t\...  PeopleSoft resumes
8  Tanna Sujatha \n\n\n\n\n\n\n\nOBJECTIVE\n\nSee...  PeopleSoft resumes
9  C O N T A C T :\n\n\n\nAddress: Manyata Tech P...  PeopleSoft resumes

In [5]:
file_path2 = []
category2  = []
directory2 = 'Resumes/React JS Developer/'
for i in os.listdir(directory2):
    if i.endswith('.docx'):
        os.path.join(directory2, i)
        file_path2.append((textract.process(os.path.join(directory2, i))).decode('utf-8'))
        category2.append('React JS Developer')

In [6]:
data2 = pd.DataFrame(data = file_path2 , columns = ['Raw_Details'])
data2['Category2'] = category2
data2

                                          Raw_Details           Category2
0   Name: Ravali P \n\n\n\n                       ...  React JS Developer
1   SUSOVAN  BAG   \n\nSeeking  a  challenging  po...  React JS Developer
2   Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREER ...  React JS Developer
3   HARIPRIYA BATTINA \n\nExperience as UI Develop...  React JS Developer
4   KAMALAKAR REDDY. A \n\nLinked In: https://www....  React JS Developer
5   Naveen Sadhu\n\n\n\n\n\nTitle: software develo...  React JS Developer
6   PRAGNYA PATTNAIK\n\n \n\n \n\n \n\n Expertise:...  React JS Developer
7   SARALA MADASU\n\nSARALA MADASU\n\n 204,Sri ge...  React JS Developer
8   Thirupathamma Balla\n\n\n\nSUMMARY:\n\n\n\n2.8...  React JS Developer
9   Ui-Developer/ React JS Developer \n\nNAME: KRI...  React JS Developer
10  Ui-Developer/ React JS Developer \n\nNAME: KRI...  React JS Developer
11  Kotani Durga Prasad\n\n\n\n\n\nObjective:\n\n\...  React JS Developer
12  Venkatalakshmi Pedireddy\n\nSoftware Developer...  React JS Developer
13  KAMBALA SAI SURENDRA   \n\n \n\n \n\n \n\n\n\n...  React JS Developer
14  MAREEDU LOKESH BABU\n\nPROFESSIONAL OVERVIEW\n...  React JS Developer
15  MAREEDU LOKESH BABU\n\n\n\nPROFESSIONAL OVERVI...  React JS Developer
16  MD KHIZARUDDIN RAUF \n\n \t EXPERIENCE \n\n   ...  React JS Developer
17  Pranish Sonone\n\n\t\t\n\n\n\n\n\n\n\n\n\nCare...  React JS Developer
18  Ranga Gaganam  \n\n\n\n \n\nProfessional\n\n \...  React JS Developer
19  SHAIK ABDUL SHARUK   \n\n2 years’ Experience i...  React JS Developer

In [7]:
file_path3 = []
category3  = []
directory3 = 'Resumes/SQL Developer/'
for i in os.listdir(directory3):
    if i.endswith('.docx'):
        os.path.join(directory3, i)
        file_path3.append((textract.process(os.path.join(directory3, i))).decode('utf-8'))
        category3.append('SQL Developer')

In [8]:
data3 = pd.DataFrame(data = file_path3 , columns = ['Raw_Details'])
data3['Category3'] = category3
data3

                                          Raw_Details      Category3
0   ANIL KUMAR MADDUKURI  \t\t\n\nSQL & MSBI Devel...  SQL Developer
1   Aradhana Tripathi\n\n\n\nCurrent Location: Gac...  SQL Developer
2   BUDDHA VAMSI                                  ...  SQL Developer
3   KAMBALLA PRADEEP                              ...  SQL Developer
4   Resume\n\nName     :  Neeraj Mishra\n\n\n\nExp...  SQL Developer
5   SQL DEVELOPER\n\nName: -   Bandi prem sai\n\n\...  SQL Developer
6   SQL SERVER DEVELOPER\n\n\n\n\n\nP. Syam Kumar ...  SQL Developer
7   RAJU PAVANA KUMARI\n\n\n\n\t\n\n\tProfessional...  SQL Developer
8   resume\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t\t\t\tRama...  SQL Developer
9   Name: Ramesh\n\n\t\n\n\tCareer Objective: \n\n...  SQL Developer
10  SQL AND MSBI DEVELOPER\n\nSQL AND MSBI DEVELOP...  SQL Developer

In [9]:
file_path4 = []
category4  = []
directory4 = 'Resumes/Workday/'
for i in os.listdir(directory4):
    if i.endswith('.docx'):
        os.path.join(directory4, i)
        file_path4.append((textract.process(os.path.join(directory4, i))).decode('utf-8'))
        category4.append('Workday')

In [10]:
data4 = pd.DataFrame(data = file_path4 , columns = ['Raw_Details'])
data4['Category4'] = category4
data4

                                          Raw_Details Category4
0   Chinna Subbarayudu M\n\nDOB: 06th March 1994\n...   Workday
1   Name         : Gopi Krishna Reddy\n\n\t\t     ...   Workday
2   G Himaja\n\n                                  ...   Workday
3   JYOTI VERMA\t\t\t\t\t\n\n\n\nPROFESSIONAL SUMM...   Workday
4   Mooraboyina Guravaiah\n\nWorkday Integration S...   Workday
5   VENKATA SAIKRISHNA\n\n Workday Consultant\n\n\...   Workday
6   Workday HCM  Techno functional Consultant     ...   Workday
7   Ramesh A\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...   Workday
8   Srikanth (WORKDAY hCM Consultant)\t           ...   Workday
9   WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...   Workday
10  Vinay kumar .v\nWorkday Functional Consultant\...   Workday

In [18]:
resume_data = data1.append([data2, data3, data4], ignore_index = True)
resume_data

AttributeError: 'DataFrame' object has no attribute 'append'

In [19]:
resume_data.info()

NameError: name 'resume_data' is not defined

In [20]:
resume_data['Category'] = category1 + category2 + category3 + category4
resume_data

NameError: name 'resume_data' is not defined

In [14]:
resume_data.drop(['Category1', 'Category2', 'Category3', 'Category4'], axis = 1, inplace = True)
resume_data = resume_data[["Category", "Raw_Details"]]

NameError: name 'resume_data' is not defined

In [15]:
resume_data.head()

NameError: name 'resume_data' is not defined

In [16]:
resume_data["Raw_Details"][4]

NameError: name 'resume_data' is not defined

In [17]:
resume_data.to_csv('Raw_Resume.csv', index=False)

NameError: name 'resume_data' is not defined

In [ ]:
resume_data = pd.read_csv("Raw_Resume.csv")
resume_data

In [ ]:
resume_data[resume_data.Category == 'Workday']

In [ ]:
resume_data.isnull().sum()

In [ ]:
resume_data['Word_Count'] = resume_data['Raw_Details'].apply(lambda x: len(str(x).split(" ")))
resume_data[['Raw_Details','Word_Count']].head()

In [ ]:
resume_data['Char_Count'] = resume_data['Raw_Details'].str.len() ## this also includes spaces
resume_data[['Raw_Details','Char_Count']].head()

In [ ]:
resume_data['Numerics'] = resume_data['Raw_Details'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
resume_data[['Raw_Details','Numerics']].head()

In [ ]:
resume_data

In [ ]:
def preprocess(sentence):
    sentence = str(sentence)
    sentence = sentence.lower()
    sentence = sentence.replace('{html}',"") 
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, '', sentence)
    rem_url = re.sub(r'http\S+', '',cleantext)
    rem_num = re.sub('[0-9]+', '', rem_url)
    tokenizer = RegexpTokenizer(r'\w+')
    tokens = tokenizer.tokenize(rem_num)  
    filtered_words = [w for w in tokens if len(w) > 2 if not w in stopwords.words('english')]

    return " ".join(filtered_words)

In [ ]:
resume_data = pd.read_csv('Raw_Resume.csv')
resume_data['Resume_Details'] = resume_data.Raw_Details.apply(lambda x: preprocess(x))

In [ ]:
resume_data

In [ ]:
resume_data.drop(['Raw_Details'], axis = 1, inplace = True)
resume_data

In [ ]:
resume_data.to_csv('Cleaned_Resumes.csv', index = False)

In [ ]:
resume_data = pd.read_csv('Cleaned_Resumes.csv')
resume_data

In [ ]:
resume_data.Resume_Details[5]

In [ ]:
import nltk
nltk.download('punkt')

In [ ]:
oneSetOfStopWords = set(stopwords.words('english')+['``',"''"])
totalWords =[]
Sentences = resume_data['Resume_Details'].values
cleanedSentences = ""
for records in Sentences:
    cleanedText = preprocess(records)
    cleanedSentences += cleanedText
    requiredWords = nltk.word_tokenize(cleanedText)
    for word in requiredWords:
        if word not in oneSetOfStopWords and word not in string.punctuation:
            totalWords.append(word)
    
wordfreqdist = nltk.FreqDist(totalWords)
mostcommon = wordfreqdist.most_common(50)
print(mostcommon)